body{
  font-family: Calibri, sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  color: #333;
}

/* Tamaño del Calendario */
.cld-main{
  width: 500px;
}

/* SVG de las Fechas */
.cld-main svg{
  fill: #74b9ff;
}
/* Cabecera  MES y AÑO */
  .cld-fecha{
    position: relative;
    width: 66%;
    min-width: 100px;
    max-width: 300px;
    margin: auto;
    overflow: hidden;
  }

/* Cabecera de hoy */
  .cld-fecha .hoy{
    position: relative;
    float: left;
    width: calc(100% - 40px);
    margin: auto;
    text-align: center;
  }

  .cld-nav{
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 2px;
  }

  .cld-nav:hover svg{
      fill: #005EFF;
  }

  .cld-flecha_izquierda{
    float: left;
  }

  .cld-flecha_derecha{
    float: right;
  }

  .cld-label, .cld-dia{
    box-sizing: border-box;
    display: inline-block;
    width: 14.28%;
    text-align: center;
  }
  /* Separadores */
  .cld-dia{
    border: 1px solid #eee;
  }
  /* Hoy */
  .cld-dia.hoy .cld-numero{
    background: #74b9ff;
    color: #fff;
  }
  
  /* Opacidad de los dias previos y siguientes del calendario */
  .cld-dia.ProxtMes, .cld-dia.PrevMes{
    opacity: 0.33;
  }
  /* Dias */
    .cld-numero{
      position: relative;
      margin: 0;
      padding: 10px;
    }
      /* Dias Feriados */
      .cld-numero.diaevento{
        font-weight: bold;
        color: #00b894;
        background: #55efc4;
      }
      
